ol {
 
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

ol li {
    border: 1px solid lightgrey;
    width: 70px;
    text-align: center;
}

ol.nav-bar {
    list-style-position: inside;
    
}

table {
    table-layout: fixed;
    width: 100%;
    cellpadding: 5;
    border-collapse: collapse;
    text-align: left;
    border: lightgrey solid 1px;    
}

tr td {
    padding: 10px;
    padding-left: 0;
   
}
 thead {
  
 }

 tr:hover {
     background-color: lightseagreen;
 }
 td:hover {
     background-color: lightsteelblue;
 }

 .inline {
     display: inline;
     font-size: 15px;
 }

 h1 > div {
    border-bottom: solid black 1px;
 }


.inline {
    display: inline-block;
    border: 1px red solid;
}

.square {
    width: 100px;
    height: 100px;
}

.heighttest {
    height: 100px;
    width: 100px;
    border: solid blue 20px;
    display: inline-block;
}